// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.home-link {
  text-decoration: none;
  padding-bottom: 25px;
  padding-left: 25px;
  color: rgb(186, 26, 26);
}
